<form *ngIf="formulario" nz-form [formGroup]="formulario">

  <div class="">
    <nz-divider nzText="Datos del departamento" nzOrientation="left"></nz-divider>
    <div nz-row nzGutter="16">

      <div nz-col class="gutter-row" nzSpan="24">
        <div class="gutter-box">
          <nz-form-item>
            <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="name" id="name" [value]="formulario.value.name">
              <nz-form-explain *ngIf="formulario.controls['name'].dirty && formulario.controls['name'].errors">
                Introduzca
                un name válido</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </div>
  </div>

  <nz-divider></nz-divider>

  <div nz-row nzType="flex" nzJustify="end">
    <nz-col>
      <button nz-button nzSize="large" nzType="primary" (click)="save()"><i nz-icon type="save"></i>Guardar</button>
      <button nz-button nzSize="large" (click)="__rutaService.goBack()"><i nz-icon type="left"
          theme="outline"></i>Volver</button>
    </nz-col>
  </div>

</form>