<div class="logo"></div>

<ul nz-menu [nzMode]="'inline'" nzTheme="dark" [nzInlineCollapsed]="collapsed">

        <li nz-submenu>
                <span title>

                        <span>Inicio</span>
                </span>
        </li>
        <li nz-submenu>
                <span title>
                        <i nz-icon nzType="profile" nzTheme="outline"></i>
                        <span>Departamentos</span>
                </span>
                <ul>
                        <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                [routerLink]="['/inicio/departamentos/creacion']">Crear departamento</li>

                </ul>
        </li>
        <li nz-submenu>
                <span title>
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                        <span>Empleados</span>
                </span>
                <ul>
                        <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                [routerLink]="['/inicio/empleados/listado']">Lista
                                empleados</li>
                        <li nz-menu-item routerLinkActive="ant-menu-item-selected"
                                [routerLink]="['/inicio/empleados/creacion']">Crear
                                empleado</li>

                </ul>
        </li>
</ul>