<nz-layout>

  <nz-header id="header">
    <div nz-row nzType="flex" class="title">
      DISID EMPLEADOS ANGULAR
    </div>
  </nz-header>

  <nz-layout>

    <nz-sider id="sidebar" nzCollapsible>
      <app-sidenav [collapsed]="isCollapsed"></app-sidenav>
    </nz-sider>

    <nz-content style="float:right;overflow-y: scroll; height: calc(100vh - 64px) ">
      <nz-layout class="content">
        <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-content>

  </nz-layout>

</nz-layout>