@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    font-family: 'Montserrat', sans-serif;
}



#growing {
    position: absolute;
    top: 200%; left: 50%;
    transform: translate(-50%,-200%);
}

.login-form {
    width: 300px;
    margin: 0 auto;
}

.login-form-button {
    width: 100%;
}

#izquierda{
    background: rgb(24, 144, 255);
    height:100vh;
    background-image:url("./login-circles.svg");
    background-position: 50% 170%; 
    background-size: 120%;
  background-repeat: no-repeat;
  position:relative;
  -webkit-box-shadow: -15px 0px 89px 0px rgba(255,255,255,1);
-moz-box-shadow: -15px 0px 89px 0px rgba(255,255,255,1);

  
}

#texto{
    text-align: center;
   
    font-size: 2em;
    color: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}



#derecha{
    background:white;
    height:100vh;
    position:relative; 
    display:block;
}



#contenido_derecha{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

#caja{
    position: absolute;
    top: 10%; left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
}
#titulo{
    
   font-weight: bold;
    font-size: 2.5em;
    color: black;
   
}

#sistema{
    font-size: 1.5em;
}

#caja, #titulo,  #sistema{
    display:none;
}

@media only screen and (max-width: 600px) {
    #caja, #titulo,  #sistema{
        display:block;
    }
   
  }


  nz-alert{
      //position: fixed;
      //margin-top: 20px;
      //position: absolute;
      display: block;
    position: absolute;
    left: 5%;
    top: 50px;
    width: 90%;
    
    z-index:5;
    
  }

  #error_login{
      color:red;
      text-align: center;
  }