<form *ngIf="formulario" nz-form [formGroup]="formulario">

  <div class="">
    <nz-divider nzText="Datos del empleado" nzOrientation="left"></nz-divider>
    <div nz-row nzGutter="16">

      <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box">
          <nz-form-item>
            <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="name" id="name" [value]="formulario.value.name">
              <nz-form-explain *ngIf="formulario.controls['name'].dirty && formulario.controls['name'].errors">
                Introduzca
                un name válido</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box">
          <nz-form-item>
            <nz-form-label nzFor="lastname" nzRequired>Lastname</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="lastname" id="lastname" [value]="formulario.value.lastname">
              <nz-form-explain *ngIf="formulario.controls['lastname'].dirty && formulario.controls['lastname'].errors">
                Introduzca
                un lastname válido</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box">
          <nz-form-item>
            <nz-form-label nzFor="age" nzRequired>Age</nz-form-label>
            <nz-form-control>

              <input nz-input formControlName="age" id="age" [value]="formulario.value.age"
                (keypress)="__utilsService.numberOnly($event)" />

              <nz-form-explain *ngIf="formulario.controls['age'].dirty && formulario.controls['age'].errors">
                Introduzca un age válido (+18) </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box">
          <nz-form-item>
            <nz-form-label nzFor="fecha_alta" nzRequired>Fecha Alta</nz-form-label>
            <nz-form-control>
              <nz-date-picker nzFormat="dd-MM-yyyy" formControlName="fecha_alta" nzPlaceHolder="Fec. Alta"
                id="fecha_alta"></nz-date-picker>
              <nz-form-explain
                *ngIf="formulario.controls['fecha_alta'].dirty && formulario.controls['fecha_alta'].errors">
                Introduzca
                una fecha válida</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <div nz-col class="gutter-row" nzSpan="8">
        <div class="gutter-box">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="name">Departamento</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Elija un departamento" [(ngModel)]="selectedValue"
                formControlName="id_departamento">
                <nz-option *ngFor="let item of departamentos" nzValue="{{item.id}}" nzLabel="{{item.name}}"></nz-option>
              </nz-select>
              <nz-form-explain
                *ngIf="formulario.controls['id_departamento'].dirty && formulario.controls['id_departamento'].errors">
                Seleccione un departamento</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </div>
  </div>

  <nz-divider></nz-divider>

  <div nz-row nzType="flex" nzJustify="end">
    <nz-col>
      <button nz-button nzSize="large" nzType="primary" (click)="save()"><i nz-icon type="save"></i>Guardar</button>
      <button nz-button nzSize="large" (click)="__rutaService.goBack()"><i nz-icon type="left"
          theme="outline"></i>Volver</button>
    </nz-col>
  </div>

</form>