<nz-card nzTitle="{{titulo}}" [nzExtra]="extraTemplate" [nzBordered]="false">
  <nz-card nzType="inner" nzTitle="Filtro" [nzExtra]="">
    <form nz-form [formGroup]="filtroForm">
      <div nz-row nzGutter="16">
        <div nz-col>
          <nz-form-label nzFor="name">Departamento</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="Elija un departamento" [(ngModel)]="selectedValue"
              formControlName="id_departamento">
              <nz-option *ngFor="let item of departamentos" nzValue="{{item.id}}" nzLabel="{{item.name}}"></nz-option>
            </nz-select>
          </nz-form-control>
        </div>
        <div nz-col nzSm="4">
          <nz-form-item>
            <nz-form-label nzFor="name">Name</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="name" id="name">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSm="4">
          <nz-form-item>
            <nz-form-label nzFor="lastname">Lastname</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="lastname" id="lastname">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSm="4">
          <nz-form-item>
            <nz-form-label nzFor="age">Age</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="age" id="age">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSm="4">
          <nz-form-item>
            <nz-form-label nzFor="fecha_alta">Fecha alta</nz-form-label>
            <nz-form-control>
              <nz-date-picker formControlName="fecha_alta" nzPlaceHolder=""></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSm="8">
          <nz-form-item>
            <nz-form-label>Acciones</nz-form-label>
            <nz-form-control>

              <button nz-button nzSize="large" nzType="primary" (click)="aplicarFiltro()"><i nz-icon
                  type="filter"></i>Filtrar</button>

              <button nz-button nzSize="large" (click)="resetFiltro()"><i nz-icon type="delete"
                  theme="outline"></i>Borrar
                Filtro</button>

            </nz-form-control>

          </nz-form-item>
        </div>

      </div>
    </form>
  </nz-card>

  <nz-table #listado [nzData]="dataSet" [nzLoading]="cargando">
    <thead nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="name">Name</th>
        <th nzShowSort nzSortKey="lastname">Last name</th>
        <th>Age</th>
        <th>Fehca alta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of listado.data">
        <td>{{registro.name}}</td>
        <td>{{registro.lastname}}</td>
        <td>{{registro.age}}</td>
        <td>{{registro.fecha_alta | date: 'dd/MM/yyyy'}}</td>
        <td>
          <button nz-button nzType="primary" nz-tooltip nzTitle="Editar" nzSize="small" nzShape="circle"
            [routerLink]="['../modificacion/', registro.id]"><i nz-icon type="edit"></i>
          </button>
          <button nz-button nzType="danger" nz-tooltip nzTitle="Eliminar" nzSize="small" nzShape="circle"
            (click)="eliminar(registro)"><i nz-icon type="delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>

<ng-template #extraTemplate>

  <button nz-button nzSize="large" nzType="primary" [routerLink]="['../creacion/']">
    <i nz-icon nzType="user-add" nzTheme="outline"></i>
    Crear empleado</button>

</ng-template>